<div class="grid-container">
    <div class="item1">

        <div class="m-0">
            <p-image 
                src="https://primefaces.org/cdn/primeng/images/galleria/galleria10.jpg" 
                [preview]="true" 
                alt="Image" 
                width="200"
                height="160"
            >
                <ng-template pTemplate="indicator">
                    <i class="pi pi-check"></i>
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Electronics" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-image>
            <div class="flex align-items-center justify-content-between mt-3 mb-2">
                <span class="text-900 font-medium text-xl">
                    Electronics
                </span>
                <span class="text-900 text-xl ml-3">
                    {{ '$' + 80 }}
                </span>
            </div>
            <span class="text-600">
                Accessoires
            </span>
        
        </div>
    </div>
    <div class="item2">
        <div class="m-0">
            <p-image 
                src="https://primefaces.org/cdn/primeng/images/galleria/galleria10.jpg" 
                [preview]="true" 
                alt="Image" 
                width="200"
                height="160"
            >
                <ng-template pTemplate="indicator">
                    <i class="pi pi-check"></i>
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Electronics" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-image>
            <div class="flex align-items-center justify-content-between mt-3 mb-2">
                <span class="text-900 font-medium text-xl">
                    Electronics
                </span>
                <span class="text-900 text-xl ml-3">
                    {{ '$' + 80 }}
                </span>
            </div>
            <span class="text-600">
                Accessoires
            </span>
        
        </div>
    </div>
    <div class="item3">
        <div class="m-0">
            <p-image 
                src="https://primefaces.org/cdn/primeng/images/galleria/galleria10.jpg" 
                [preview]="true" 
                alt="Image" 
                width="200"
                height="160"
            >
                <ng-template pTemplate="indicator">
                    <i class="pi pi-check"></i>
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Electronics" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-image>
            <div class="flex align-items-center justify-content-between mt-3 mb-2">
                <span class="text-900 font-medium text-xl">
                    Electronics
                </span>
                <span class="text-900 text-xl ml-3">
                    {{ '$' + 80 }}
                </span>
            </div>
            <span class="text-600">
                Accessoires
            </span>
        
        </div>
    </div>  
    <div class="item4">
        <div class="m-0">
            <p-image 
                src="https://primefaces.org/cdn/primeng/images/galleria/galleria10.jpg" 
                [preview]="true" 
                alt="Image" 
                width="200"
                height="160"
            >
                <ng-template pTemplate="indicator">
                    <i class="pi pi-check"></i>
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Electronics" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-image>
            <div class="flex align-items-center justify-content-between mt-3 mb-2">
                <span class="text-900 font-medium text-xl">
                    Electronics
                </span>
                <span class="text-900 text-xl ml-3">
                    {{ '$' + 80 }}
                </span>
            </div>
            <span class="text-600">
                Accessoires
            </span>
        
        </div>
    </div>
    <div class="item5"><div class="m-0">
        <p-image 
            src="https://primefaces.org/cdn/primeng/images/galleria/galleria10.jpg" 
            [preview]="true" 
            alt="Image" 
            width="200"
            height="160"
        >
            <ng-template pTemplate="indicator">
                <i class="pi pi-check"></i>
            </ng-template>
            <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1">
                    <p-button label="Electronics" class="w-full" styleClass="w-full" />
                </div>
            </ng-template>
        </p-image>
        <div class="flex align-items-center justify-content-between mt-3 mb-2">
            <span class="text-900 font-medium text-xl">
                Electronics
            </span>
            <span class="text-900 text-xl ml-3">
                {{ '$' + 80 }}
            </span>
        </div>
        <span class="text-600">
            Accessoires
        </span>
    
    </div></div>
    <div class="item6"><div class="m-0">
        <p-image 
            src="https://primefaces.org/cdn/primeng/images/galleria/galleria10.jpg" 
            [preview]="true" 
            alt="Image" 
            width="200"
            height="160"
        >
            <ng-template pTemplate="indicator">
                <i class="pi pi-check"></i>
            </ng-template>
            <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1">
                    <p-button label="Electronics" class="w-full" styleClass="w-full" />
                </div>
            </ng-template>
        </p-image>
        <div class="flex align-items-center justify-content-between mt-3 mb-2">
            <span class="text-900 font-medium text-xl">
                Electronics
            </span>
            <span class="text-900 text-xl ml-3">
                {{ '$' + 80 }}
            </span>
        </div>
        <span class="text-600">
            Accessoires
        </span>
    
    </div></div>
</div>