<app-breadcrumb></app-breadcrumb>
<div class="card">
    <p-splitter [style]="{ height: '300px' }" styleClass="mb-5">
        <ng-template pTemplate>
            <div class="col flex align-items-center justify-content-center">
                <img src="https://primefaces.org/cdn/primeng/images/galleria/galleria1s.jpg" alt="gallery" 
                style="width: 350px;"/>
            </div>
        </ng-template>
        <ng-template pTemplate>
            <div class="col flex align-items-center justify-content-center">
                Panel 2
            </div>
        </ng-template>
    </p-splitter>
</div>
